In [82]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import numpy as np
from time import sleep

In [79]:
url = 'https://www.billboard.com/charts/hot-100'
response = requests.get(url)
response.status_code

200

In [28]:
soup = BeautifulSoup(response.content, 'html.parser')

In [30]:
##chart-element__information

In [31]:
song_title = []
artist_name = []
year = []
songs = soup.findAll('span',attrs={"class":"chart-element__information"})
for x in songs:
    song = str(x.find('span', attrs={'class': 'chart-element__information__song text--truncate color--primary'}).text).strip()
    artist = str(x.find('span', attrs={'class': 'chart-element__information__artist text--truncate color--secondary'}).text).strip()
    song_title.append(song)
    artist_name.append(artist)
    year.append('2021')
    
df = pd.DataFrame({'song':song_title, 'artist':artist_name, 'year': year})

In [32]:
df.head()

              song                        artist  year
0  Drivers License                Olivia Rodrigo  2021
1               Up                       Cardi B  2021
2  Blinding Lights                    The Weeknd  2021
3  Save Your Tears                    The Weeknd  2021
4             Mood  24kGoldn Featuring iann dior  2021

## Expand dataframe

In [44]:
ur12 = "https://billboard.com/charts/year-end/hot-100-songs"
response2 = requests.get(ur12)
spoup2 = BeautifulSoup(response2.content, "html.parser")

In [ ]:
song_title2 = []
artist_name2 = []
years2 = []
songs2 = soup2.findAll('div', attrs= {"class": "ye-chart-item_text"})
for x in songs2:
    song = str(x.find('div', attrs={"class": 've-chart-item'}).test).strip()    
    artist = str(x.find('div', attrs={"class": 've-chart-item'}).test).strip() 
    song_tittle2.append(artist)
    year.append('2001')
df = pd.DataFrame({'song': sond_title, 'artist':artist_name, 'year': year})

In [ ]:
artist = []
song = []

In [ ]:
for tag in soup.select('chart-element__informartion__artist'):
    song.append(tag.get_text())

In [ ]:
d = {'artist' : artist, 'song': song}
df.drop_duplicates(inplace=True)
df.head()

In [43]:
df[df.artist == 'The Weeknd']

              song      artist  year
2  Blinding Lights  The Weeknd  2021
3  Save Your Tears  The Weeknd  2021

In [50]:
df[df.artist == 'Olivia Rodrigo']

              song          artist  year
0  Drivers License  Olivia Rodrigo  2021